.inputText {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

.label {
   margin-left: 0.5rem;
   font-weight: bold;
   font-size: var(--text-sm);
}

.input {
   box-shadow: var(--shadow-sm);
   border-radius: var(--rounded-sm);
   height: 40px;
   padding: 1rem;
   padding-right: 2rem;
}

.inputWrapper {
   position: relative;
}

.input::placeholder {
   color: var(--color-lightgray);
}

.loadingIcon,
.successIcon,
.errorIcon {
   position: absolute;
   top: 0.75rem;
   right: 0.5rem;
   width: 1rem;
   height: 1rem;
}

.loadingIcon {
   color: var(--color-gray);
   animation: rotate linear 1s infinite;
}
.successIcon {
   color: var(--color-green);
}
.errorIcon {
   color: var(--color-red);
}

.error {
   margin-left: 0.5rem;
   color: var(--color-red);
   font-size: var(--text-sm);
   min-height: 1rem;
}

@keyframes rotate {
   100% {
      transform: rotate(360deg);
   }
}
