.selector {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: -1.5rem;
}

.gridIcon,
.listIcon {
   width: 2.5rem;
   height: 2.5rem;
   color: black;
}

.divider {
   height: 1.5rem;
   width: 1px;
   background-color: var(--color-black);
}
