.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.steps {
   display: flex;
   align-items: center;
   gap: 1rem;
   height: 2.5rem;
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
