@import './reset.css';
@import './theme.css';
@import './fonts.css';

* {
   margin: 0;
}

body {
   max-width: 750px;
   margin: 0 auto 5rem;
}

button,
input,
select {
   border: none;
   outline: none;
}

button,
select,
input[type='checkbox'] {
   cursor: pointer;
}

button:disabled {
   cursor: default;
}

button:focus {
   box-shadow: var(--shadow-sm);
}

h1 {
   font-size: var(--title1);
   margin: 2rem auto;
   text-align: center;
}
